mixin wdSlider
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'wd-slider--' + mod

	.wd-slider
		if block
			block

mixin wdsSlides
	.wd-slider__slides
		if block
			block

mixin wdsSlide(img)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'wd-slider__slide--' + mod

	.wd-slider__slide(class=mods)
		img.wd-slider__car(
			src=img
			alt='')

mixin wdsCards
	.wd-slider__cards
		if block
			block

mixin wdsCard(img, strings)
	.wd-slider__card-wrapper
		.wd-slider__card
			.wd-slider__face
				img.wd-slider__img(
					src=img
					alt='')
			.wd-slider__title
				p.wd-slider__text
					-var i = 0
					each string in strings
						if i === strings.length
							=string
						else
							=string
							br
						-i++

mixin wdsPagination
	.wd-slider__pagination
		if block
			block

mixin wdsPag
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'wd-slider__pag--' + mod

	button.wd-slider__pag(
		type='button'
		class=mods
		ng-click=attributes['ng-click'])