mixin input(type, title)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'input--' + mod

	.input(class=mods)
		input.input__input(
			data-mask=attributes['data-mask']
			data-filled=attributes['data-filled']
			pattern=attributes.pattern
			min=attributes.min
			max=attributes.max
			type=type
			id=attributes.id
			placeholder=attributes.placeholder
			disabled=attributes.disabled
			value=attributes.value
			autocomplete=attributes.autocomplete
			name=attributes.name
			maxlength=attributes.maxlength)
		label.input__label(for=attributes.id)=title
		if block
			block