mixin gallery
	.gallery
		if block
			block

mixin gItem(img)
	.gallery__item(data-url=img)
		img(
			src=img
			alt='')
		.gallery__darkness

mixin gModal
	.gallery__bg
		.gallery__modal
			img(
				src=''
				alt=''
				data-gal-modal='')

mixin gMore(text)
	.gallery__more
		button.gallery__btn(type='button')=text

mixin gLoading(text)
	.gallery__loading.gallery__loading--first
		span=text