mixin promoLogo(img, text1, text2)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'promo-logo--' + mod

	.promo-logo(class=mods)
		img.promo-logo__img(
			src=img
			alt='jata.ru')
		p.promo-logo__text
			span=text1
			span.promo-logo__text--red=text2