mixin enter
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'enter--' + mod

	.enter(class=mods
		ng-if=attributes['ng-if'])
		if block
			block

mixin enterPage
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'enter__page--' + mod

	.enter__page(
		class=mods
		id=attributes.id
		ng-show=attributes['ng-show'])
		if block
			block

mixin enterCont
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'enter__content--' + mod

	.enter__content
		if block
			block

mixin enterBtns
	.enter__btns
		if block
			block