mixin select(isColor)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'select--' + mod

	.select(class=mods)
		input.select__input(
			data-field-type=attributes.fieldType
			data-correct=attributes.correct
			data-id=attributes['data-id']
			data-select=attributes.select
			data-val=attributes.val
			id=attributes.id
			placeholder=attributes.placeholder
			readonly=attributes.readonly
			type='text'
			value=attributes.value
			data-placeholder=attributes.value)
		ul.select__variants(data-content=attributes.content)
			if block
				block

mixin sVariant(text)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'select__variant--' + mod

	li.select__variant(
		class=mods
		data-id=attributes['data-id']
		data-val=attributes.val
		style=attributes.style)=text