mixin select(isColor)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'select--' + mod

	if isColor === true
		.select(class=mods)
			input.select__input(
				type='text'
				readonly
				ng-click=attributes['ng-click'])
			ul.select__variants(
				ng-show=attributes['ng-show'])
				if block
					block
	else
		.select(class=mods)
			input.select__input(
				type='text'
				readonly
				ng-click=attributes['ng-click'])
			ul.select__variants(
				ng-show=attributes['ng-show'])
				if block
					block

mixin isVariant(text)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'select__variant--' + mod

	li.select__variant(
		class=mods
		style=attributes.style
		ng-repeat=attributes['ng-repeat']
		ng-click=attributes['ng-click'])=text