extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/main-btn/main-btn
	include ../blocks/mansoor/mansoor
	include ../blocks/paragraph/paragraph
	include ../blocks/question/question
	include ../blocks/section/section
	include ../blocks/soc-icon/soc-icon
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg
	include ../blocks/ya-map/ya-map

block page_id
	-var pageId = 'contacts'

block title
	title Контакты

block content
	+page(mods='contacts')
		+section(mods='promo-contacts')
			+title(1, 'Контакты')(mods='contacts')
		+section(mods='mansoor')
			+block(mods='mansoor')
				+mansoor(
					icon='smartphone'
					mods='smartphone')
					+mPhone(phoneNumber.main.call, phoneNumber.main.read)
					+mTime('10:00', '18:00')
				
				+mansoor(mods='social')
					+paragraph('Мы в социальных сетях')(mods='mansoor-soc')
					+socIcon(linkTo.vk, 'Вконтакте')(data-icon='vk')
					+socIcon(linkTo.fb, 'Фейсбук')(data-icon='fb')
					//- +socIcon('twitter.com', 'Твиттер')(data-icon='tw')
					+socIcon(linkTo.ig, 'Инстаграм')(data-icon='ig')
					//- +socIcon('youtube.com', 'Ютуб')(data-icon='yt')
				
				+mansoor(
					icon='mail'
					mods='mail')
					+paragraph('Общая')(mods='mansoor')
					+mMail(emailFor.main)
					+paragraph('Для прессы')(mods='mansoor')
					+mMail(emailFor.press)
					//- +paragraph('Для прессы')(mods='mansoor')
					//- +mMail(emailFor.press)
				+mansoor(
					icon='pointer'
					mods='address')
					+paragraph('Адрес офиса')(mods='mansoor-blue')
					+paragraph(address.office)(mods='mansoor-address')
					+block(mods='offis')
						+mNumber(phoneNumber.main.call, phoneNumber.main.read)
						+mTime('10:00', '18:00')
					//- +paragraph(address.office)(mods='mansoor-address')
					//- +mTime('10:00', '18:00')

			+block(mods='mansoor')
				+mansoor(mods='offis')
					//- +paragraph('Главный офис')(mods='address-red')
					//- +paragraph(address.office)(
						data-icon='red-pointer')
					//- +block(mods='offis')
						+mNumber(phoneNumber.main.call, phoneNumber.main.read)
						+mTime('10:00', '18:00')

					+paragraph('Бокс для оклейки')(mods='address-blue')
					+paragraph(address.stick1)(
						data-icon='blue-pointer')
					+block(mods=['offis', 'mb10'])
						+mNumber(phoneNumber.main.call, phoneNumber.main.read)
						+mTime('10:00', '18:00')
					//- +paragraph('Спб, Московский проспект, 97а')(
					//- 	data-icon='blue-pointer')
					//- +block(mods=['offis', 'mb10'])
					//- 	+mNumber(phoneNumber.main.call, phoneNumber.main.read)
					//- 	+mTime('10:00', '18:00')
					//- +paragraph('Спб, Московский проспект, 97а')(
					//- 	data-icon='blue-pointer')
					//- +block(mods=['offis', 'mb10'])
					//- 	+mNumber(phoneNumber.main.call, phoneNumber.main.read)
					//- 	+mTime('10:00', '18:00')

				+mansoor(mods='map')
					+yaMap