extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/cars/cars
	include ../blocks/control/control
	include ../blocks/dot-strip/dot-strip
	include ../blocks/map/map
	include ../blocks/paragraph/paragraph
	include ../blocks/pin/pin
	include ../blocks/point/point
	include ../blocks/promo-logo/promo-logo
	include ../blocks/scroll-btn/scroll-btn
	include ../blocks/search/search
	include ../blocks/section/section
	include ../blocks/slider/slider
	include ../blocks/slide-pack/slide-pack
	include ../blocks/tablet/tablet
	include ../blocks/title/title
	include ../blocks/way/way

block page_id
	-var pageId = 'foradv'

block title
	title Рекламодателям

block content
	+page(mods='index-adv')
		+section(mods='promo-adv')
			+promoLogo('./img/logo.svg', 'jata', '.ru')(mods=['adv'])
			+scrollBtn
		
		+section(mods='jataru')
			+title(1, 'jata')(mods=['jataru'])
				+tSpan('.ru')(mods=['red'])
			+title(2, 'Рекламное агенство')(mods=['jataru-sub'])
			+block(mods=['cars'])
				+cars('./img/cars.svg')
				+paragraph(' Мы знаем, как привлечь новых клиентов без особых затрат на рекламу. Речь идет о доступном и эффективном рекламном носителе, принципиально отличающемся от приевшихся билбордов и ситилайтов.<br>Размещение рекламы на частных автомобилях предполагает, как органичную для восприятия городскую наружную рекламу, так и мощный инструмент для сбора статистики и отслеживания конверсии.')(
					mods='jataru')

		+section(mods='way')
			+way('ltr')(mods=['tablet'])
				+block(mods='way-left')
					+title(2, 'Как это работает')(mods=['way'])
					+paragraph('Jata.ru обеспечивает прямое взаимодействие между владельцем автомобиля и рекламодателем. Благодаря широким возможностям выбора характеристик транспортного средства и способов нанесения рекламных стикеров, вы можете найти идеальный вариант для размещения информации о своих товарах и услугах.')(mods=['way'])

				+tablet
					+pin(
						'Алексей, 33',
						['Менеджер', 'Renault Clio', '2012 г. 35км/день'],
						'3')(mods=['first', 'show'])
					+pin(
						'Игорь, 45',
						['Грузчик', 'Газель', '2015 г., 55 км/день'],
						'2')(mods='second')
					+pin(
						'Кирилл, 44',
						['Водитель', 'Hyundai County', '2011 г., 40 км/день'],
						'1')(mods='third')

			+way('rtl')(mods='search')
				+block(mods=['way-right', 'search'])
					+title(2, 'Демонстрация рекламы целевой аудитории')(mods=['way'])
					+paragraph('Каждый владелец ТС подробно описывает свой ежедневный маршрут, к которому легко привязать такие объекты как, например, школы, торговые/бизнес центры, детские сады и т.д. Выбирая маршрут следования автомобиля, вы можете ориентироваться на своих потенциальных клиентов.')(
						mods=['way'])
				+search
					+point(1, 'ТРЦ Галерея', 'Лиговский просп., 30а')(
						mods='first')
					+point(2, 'Московский возал', 'Невский проспект, 85')(
						mods='second')
					+point(3, 'Александринский театр', 'Островского пл., 6')(
						mods='third')

			+way('ltr')(mods='control')
				+block(mods=['way-left', 'control'])
					+title(2, 'Контроль качества')(mods=['way'])
					+paragraph('Мы лично знакомимся с каждым водителем в момент заключения договора, верифицируем автомобиль и проговариваем условия демонстрации вашего бренда. Наша задача – качественная реклама, и мы с ней отлично справляемся.')(mods=['way'])
				+wControl
					+control('way__img.png')
						+cFrase('Только проверенные водители', 'Все без исключения водители заключают с нашей компанией договор.')(
							mods=['left', 'top'])
						+cFrase('Автомобили не старше 2005 г.', 'Все автомобили последних моделий в отличном состоянии.')(
							mods=['right', 'top'])
						+cFrase('100% полюбившийся брэнд', 'Вы можете рассчитывать на абсолютную лояльность водителя к вашему бренду, иначе он бы вас не выбрал.')(
							mods=['left', 'bottom'])
						+cFrase('от 40 км/день', 'Каждый водитель нашей компании преодолевает порядка 1000 км в месяц.')(
							mods=['right', 'bottom'])

			+way('rtl')(mods='freedom')
				+block(mods=['way-right', 'freedom'])
					+title(2, 'Свобода выбора')(mods=['way'])
					+paragraph('Многочисленные варианты оклейки машины, возможность выбора цвета, марки, класса рекламирующего автомобиля из постоянно пополняющейся базы, а также доступность контроля его передвижений и местонахождения в каждый конкретный момент времени – опции, которые помогут вам спланировать и осуществить рекламную кампанию мечты.')(mods=['way'])

				+slider
					+sStrip
						+dotStrip
							+dsDot('Легковое авто')(
								checked=''
								id='dotCar'
								data-dot-pos='1-3')
							+dsDot('Грузовое авто')(
								id='dotLorry'
								data-dot-pos='2-3')
							+dsDot('Автобус')(
								id='dotBus'
								data-dot-pos='3-3')
					+sSlides
						+slidePack(data-slider-pos='1-3')
							+spSlide('car', 'jpg', 3, '2 500',
								['спереди', 'сзади', 'сбоку'])(
								data-slider-pos='1-3')
							+spSlide('lorry', 'jpg', 2, '5 000',
								['спереди', 'сзади'])(
								data-slider-pos='1-2')
							+spSlide('bus', 'png', 3, '10 000',
								['спереди', 'сзади', 'сбоку'])(
								data-slider-pos='1-3')

			+way('ltr')(mods='start')
				+block(mods=['way-left', 'start'])
					+title(2, 'Начните прямо сейчас')(mods=['way', 'cw'])
					+paragraph('После регистрации на нашем сайте, вы получите доступ в личный кабинет, где сможете приступить к воплощению задуманного в жизнь! Не ограничивайте свою фантазию, возможности рекламы на частных автомобилях не безграничны, но близки к этому!')(mods=['way', 'cw'])

			+way('rtb')(mods='report')
				+block(mods=['way-right', 'report'])
					+title(2, 'Подробная отчетность')(mods=['way'])
					+paragraph('Следите за перемещениями участвующих в вашей рекламной кампании машин, собирайте статистику, оценивайте эффективность рекламной кампании. Оплачивайте только фактические передвижения.')(mods=['way'])
				+map
					+pon(
						'Иван Кретчетов',
						['Volvo 2010 г.',
						'Соответствие',
						'маршруту'],
						'98%',
						'2',
						'png')(mods='pon-two')
					+pon(
						'Кирилл Баранов',
						['Volkswagen 2012 г.',
						'Соответствие',
						'маршруту'],
						'95%',
						'1',
						'jpg')(mods=['pon-one', 'show'])