extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/cars/cars
	include ../blocks/control/control
	include ../blocks/dot-strip/dot-strip
	include ../blocks/map/map
	include ../blocks/paragraph/paragraph
	include ../blocks/pin/pin
	include ../blocks/point/point
	include ../blocks/promo-logo/promo-logo
	include ../blocks/search/search
	include ../blocks/section/section
	include ../blocks/slider/slider
	include ../blocks/slide-pack/slide-pack
	include ../blocks/tablet/tablet
	include ../blocks/title/title
	include ../blocks/way/way

block page_id
	-var pageId = 'foradv'

block title
	title Jata

block content
	+page(mods='index-adv')
		+section(mods='promo-adv')
			+promoLogo('/img/logo.svg', 'jata', '.ru')(mods=['adv'])
		
		+section(mods='jataru')
			+title(1, 'jata')(mods=['jataru'])
				+tSpan('.ru')(mods=['red'])
			+title(2, 'Рекламное агенство')(mods=['jataru-sub'])
			+block(mods=['cars'])
				+cars('/img/cars.svg')
				+paragraph('Тысячи жителей СПб ежедневно ждут автобусов, стоят в пробках или просто гуляют по улицам города. Бигборды и ситилайты, яркие вывески кафе и магазинов давно не привлекают особого внимания горожан и гостей Северной столицы. А яркий транспорт, обклеенный вашей рекламой, запомнится прохожим надолго…')(
					mods='jataru')

		+section(mods='way')
			+way('ltr')(mods=['tablet'])
				+block(mods='way-left')
					+title(2, 'Как это работает')(mods=['way'])
					+paragraph('JATA.RU - уникальный проект, площадка, позволяющая напрямую взаимодействовать между владельцами рекламного места и рекламодателем. Таким образом Вы можете заработать на своем рекламном месте либо, если Вы рекламодатель, найти по минимальным ценам необходимое рекламное место, минуя рекламные агентства.')(mods=['way'])

				+tablet
					+pin(
						'Алексей, 33',
						['Менеджер', 'Renault Clio', '2012 г. 35км/день'],
						'3')(mods=['first', 'show'])
					+pin(
						'Игорь, 45',
						['Грузчик', 'Газель', '2015 г., 150 км/день'],
						'2')(mods='second')
					+pin(
						'Кирилл, 44',
						['Водитель', 'Hyundai County', '2011 г., 255 км/день'],
						'1')(mods='third')

			+way('rtl')(mods='search')
				+block(mods=['way-right', 'search'])
					+title(2, 'Мощный поиск по геопараметрам')(mods=['way'])
					+paragraph('Вашу рекламу увидят те, кому она действительно нужна. Вы сами выбираете маршрут движения транспортного средства и можете отслеживать место его нахождения в реальном времени.')(mods=['way'])
				+search
					+point(1, 'ТРЦ Галерея', 'Лиговский просп., 30а')(
						mods='first')
					+point(2, 'Московский возал', 'Невский проспект, 85')(
						mods='second')
					+point(3, 'Александринский театр', 'Островского пл., 6')(
						mods='third')

			+way('ltr')(mods='control')
				+block(mods=['way-left', 'control'])
					+title(2, 'Контроль качества')(mods=['way'])
					+paragraph('Все автомобили проходят верификацию в нашем офисе. Их водители взрослые адекватные люди. Репутация вашего бренда в надёжных руках!')(mods=['way'])
				+wControl
					+control('way__img.png')
						+cFrase('Только проверенные водители', 'Все без исключения водители заключают с нашей компанией договор.')(
							mods=['left', 'top'])
						+cFrase('Автомобили не старше 2005 г.', 'Все автомобили последних моделий в отличном состоянии.')(
							mods=['right', 'top'])
						+cFrase('100% полюбившийся брэнд', 'Мы работаем только с теми водителями, кому нравится ваш брэнд.')(
							mods=['left', 'bottom'])
						+cFrase('600 км/день', 'Каждый водитель нашей компании преодолевает 5000&#8209;8000км в месяц.')(
							mods=['right', 'bottom'])

			+way('rtl')(mods='freedom')
				+block(mods=['way-right', 'freedom'])
					+title(2, 'Свобода выбора')(mods=['way'])
					+paragraph('Вы можете выбирать любые части ТС для своей рекламной компании. При необходимости опытный дизайнер разработает макеты банеров для ваше рекламной кампании.')(mods=['way'])

				+slider
					+sStrip
						+dotStrip
							+dsDot('Легковое авто')(
								checked=''
								id='dotCar'
								data-dot-pos='1-3')
							+dsDot('Грузовое авто')(
								id='dotLorry'
								data-dot-pos='2-3')
							+dsDot('Автобус')(
								id='dotBus'
								data-dot-pos='3-3')
					+sSlides
						+slidePack(data-slider-pos='1-3')
							+spSlide('car', 'jpg', 3, '5 000',
								['спереди', 'сзади', 'сбоку'])(
								data-slider-pos='1-3')
							+spSlide('lorry', 'jpg', 2, '7 000',
								['спереди', 'сзади'])(
								data-slider-pos='1-2')
							+spSlide('bus', 'png', 3, '10 000',
								['спереди', 'сзади', 'сбоку'])(
								data-slider-pos='1-3')

			+way('ltr')(mods='start')
				+block(mods=['way-left', 'start'])
					+title(2, 'Начало рекламной кампании')(mods=['way', 'cw'])
					+paragraph('Выбирайте подходящие транспортные средства из нашей огромной базы или самостоятельно создавайте тендеры. Теперь не нужно переплачивать рекламным агентствам! Сотрудничайте с водителями и компаниями напрямую!')(mods=['way', 'cw'])

			+way('rtb')(mods='report')
				+block(mods=['way-right', 'report'])
					+title(2, 'Подробная отчетность')(mods=['way'])
					+paragraph('Следите за перемещениями всех оплаченных рекламных площадок в реальном времени. Оплачивайте только&nbsp;фактические передвижения.')(mods=['way'])
				+map
					+pon(
						'Иван Кретчетов',
						['Volvo 2010 г.',
						'Соответствие',
						'маршруту'],
						'98%',
						'2',
						'png')(mods='pon-two')
					+pon(
						'Кирилл Баранов',
						['Volkswagen 2012 г.',
						'Соответствие',
						'маршруту'],
						'95%',
						'1',
						'jpg')(mods=['pon-one', 'show'])