extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/driver-form/driver-form
	include ../blocks/input/input
	include ../blocks/select/select
	include ../blocks/paragraph/paragraph
	include ../blocks/perk/perk
	include ../blocks/promo-logo/promo-logo
	include ../blocks/section/section
	include ../blocks/title/title
	include ../blocks/wd-slider/wd-slider

block page_id
	-var pageId = 'index'

block title
	title Jata

block content
	+page(mods=['index'])
		+section(true)(mods=['promo'])
			+block(mods=['promo'])
				+promoLogo('/img/promo-logo.svg', 'jata', '.ru')(mods=['index'])
				+paragraph('В крупных городах количество маршрутов исчисляется сотнями и даже тысячами. Это открывает безграничные возможности для того, чтобы донести до огромной аудитории информацию о товаре, услуге, компании, магазине.')(mods=['promo'])
			+driverForm(data-page='1')
				+dfHeader('Стать водителем')
				+dfPagination(data-step='one')
					+dfPagItem(1)
					+dfDots
					+dfPagItem(2)
					+dfDots
					+dfPagItem(3)
				+dfMain
					+dfPage(
						data-page='1'
						data-show='true'
						mods=['one'])
						+input('text', 'Имя')(
							fieldType='form_input'
							autocomplete='off'
							data-correct='null'
							data-filled='false'
							data-mask='name'
							mods=['fxb46p']
							id='first_name'
							name='firstname')
						+input('text', 'Фамилия')(
							fieldType='form_input'
							autocomplete='off'
							data-correct='null'
							data-filled='false'
							data-mask='name'
							mods=['fxb46p']
							id='last_name'
							name='lastname')
						+input('email', 'E-mail')(
							fieldType='form_input'
							autocomplete='off'
							data-correct='null'
							data-filled='false'
							data-mask='email'
							mods=['fxb46p']
							id='email'
							name='email')
						+input('tel', 'Телефон')(
							fieldType='form_input'
							autocomplete='off'
							data-correct='null'
							data-filled='false'
							data-mask='tel'
							mods=['fxb46p']
							id='phone'
							name='phone')
						+input('text', 'Как Вы узнали о нас')(
							fieldType='form_input'
							autocomplete='off'
							data-correct='empty'
							data-filled='false'
							mods=['fxb100p']
							id='how_did_you_know')
					+dfPage(
						data-page='2'
						data-show='false'
						mods=['two'])
						+dfRow(mods=['select'])
							+select(
								fieldType='form_select'
								correct='null'
								content='years'
								id='car_year'
								mods=['w200']
								value='Год выпуска'
								val='none')
								
						+dfRow(mods=['select'])
							+select(
								fieldType='form_select'
								correct='null'
								data-id='null'
								content='brands'
								id='car_brand'
								mods=['w200']
								value='Марка авто'
								val='none')
								
						+dfRow(mods=['select'])
							+select(
								fieldType='form_select'
								correct='null'
								content='models'
								id='car_model'
								mods=['w200']
								value='Модель авто'
								val='none')
									+sVariant('Выберите марку авто')


						+dfRow(mods=['select'])
							+select(
								fieldType='form_select'
								correct='null'
								id='car_color'
								mods=['w200']
								value='Цвет авто'
								val='none')
								
								-var colorMatch = {'ffffff':'Белый', '808080':'Серый', '864600':'Коричневый', '3d3533':'Черный', 'ff0002':'Красный', 'F79023':'Оранжевый', 'fbd75b':'Желтый', '009933':'Зеленый', '00A4FF':'Голубой', '188c99':'Синий', '914a86':'Фиолетовый'}
								
								each color, num in colorMatch
									+sVariant(color)(
										val=num)

						+dfRow(mods=['select'])
							+select(
								fieldType='form_select'
								correct='null'
								id='car_state'
								mods=['w200']
								value='Состояние авто'
								val='none')
									+sVariant('Отличное')(val='perfect')
									+sVariant('Хорошее')(val='normal')
									+sVariant('Удовлетворительное')(val='bad')
					+dfPage(
						data-page='3'
						data-show='false'
						mods=['three'])
						+input('text', 'Средний пробег за день (км)')(
							fieldType='form_input'
							data-mask='number'
							data-filled='false'
							mods=['fxb100p', 'small']
							id='avg_mileage_day')
						//- +input('text', 'Ср. пробег за выходные')(
						//- 	data-filled='false'
						//- 	mods=['fxb46p', 'small']
						//- 	id='avWeekend')
						p.driver-form__com-title Комментарий
						textarea.driver-form__comment(
							data-field-type='form_input'
							data-filled='false'
							id='comment')
				+dfFooter
					+dfBtn('Назад')(
						data-page='null'
						data-way='prev'
						id='prevPage'
						mods=['prev'])
					+dfBtn('Вперед')(
						data-page='2'
						data-way='next'
						id='nextPage'
						mods=['next'])

		+section(mods=['we-do'])
			+block(mods=['we-do-left'])
				+title(2, 'Что мы делаем')(mods=['we-do'])
				+paragraph('В крупных городах количество маршрутов исчисляется сотнями и даже тысячами. Это открывает безграничные возможности для того, чтобы донести до огромной аудитории информацию о товаре, услуге, компании, магазине.')(mods=['we-do'])
			+block(mods=['we-do-right'])
				+wdSlider
					+wdsSlides
						+wdsSlide('/img/wd-slider__slide--1.png')(mods=['one'])
						+wdsSlide('/img/wd-slider__slide--2.png')(mods=['two'])
					+wdsCards
						+wdsCard('/img/wd-slider__face--1.jpg', ['Алексей Иванов', '25 лет, Менеджер', 'Toyota Corolla 2010 г.', '300 км/день'])
						+wdsCard('/img/wd-slider__face--2.jpg', ['ИП, Олег Гончаров', '37 лет, Водитель автобуса', 'Маршрут №373', 'Автобус ЛИАЗ, 1000 км/месяц'])
					+wdsPagination
						+wdsPag(mods=['active'])
						+wdsPag

		+section(mods=['how-works'])
			+title(2, 'Как это работает')(mods=['how-works'])
			+perk('Зарегистрируйтесь в системе', 'Заполните информацию о своём ТС и маршрутах передвижения.')(mods=['one'])
			+perk('Выбирайте лучших рекламодателей', 'Обклейте свою машину по своему вкусу.')(mods=['two'])
			+perk('Рулите и получайте деньги', 'Деньги из системы можно вывести в любое время на банковскую карту.')(mods=['three'])
			+perk('Никаких неудобств', 'Мы сами демонтируем наклейки в конце рекламной кампании.')(mods=['four'])

		+section(mods=['earn'])
			+title(2, 'Зарабатывай')(mods=['earn'])
			+paragraph('от 5 000 - 20 000 руб')(mods=['fz40', 'fw100'])
			+paragraph('За рекламную кампанию')(mods=['fz24', 'mb65'])
			+paragraph('Требования:')(mods=['cr-fz30-ttu-mb10'])
			+paragraph('Возраст от 21 года')(mods=['with-checker'])
			+paragraph('Модель машины от 2005г.')(mods=['with-checker'])
			+paragraph('от 800 км/месяц')(mods=['with-checker'])
			+paragraph('Наличие смартфона')(mods=['with-checker'])