mixin roleBtn(name, id, text)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'role-btn--' + mod

	.role-btn(class=mods)
		label.role-btn__label(for=id)
			input.role-btn__input(
				name=name
				checked=attributes.checked
				id=id
				value=id
				type='radio')
			span.role-btn__text!=text