mixin driverForm
	.driver-form(data-page=attributes['data-page'])
		.driver-form__form
			if block
				block

mixin dfHeader(title)
	.driver-form__header
		h3.driver-form__title=title

mixin dfPagination
	.driver-form__pagination(
		data-step=attributes['data-step'])
		if block
			block

mixin dfPagItem(step)
	.driver-form__pag-item(
		data-step=step)
		.driver-form__ball=step
		span.driver-form__text
			| Шаг 
			=step

mixin dfMain
	.driver-form__main
		if block
			block

mixin dfPage
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'driver-form__page--' + mod

	.driver-form__page(
		data-show=attributes['data-show']
		data-page=attributes['data-page']
		id=attributes.id
		class=mods)
		if block
			block

mixin dfFooter
	.driver-form__footer
		if block
			block

mixin dfBtn(name)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'driver-form__btn--' + mod

	button.driver-form__btn(
		class=mods
		data-page=attributes['data-page']
		data-way=attributes['data-way']
		id=attributes.id)=name

mixin dfDots
	.driver-form__dots

mixin dfRow
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'driver-form__row--' + mod

	.driver-form__row(class=mods)
		if block
			block

mixin dfTitle(text)
	p.driver-form__select-title=text